<h1>My Tasks</h1>

<% @tasks.each do |task|%>
<p><%= link_to task.title, task_path(task)  %></p>
<input type="checkbox" name= "completed" <%= "#{task.completed ? 'checked' : ''}" %> disabled>
<%= link_to "Delete", task_path(task),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
<% end %>

<%= link_to "Add a new Task", tasks_new_path %>

